---
const platform = [
  { name: "instagram", link: "https://www.instagram.com/mcompartidas/" },
  {
    name: "facebook",
    link: "https://www.facebook.com/profile.php?id=100064026340468",
  },
  {
    name: "youtube",
    link: "https://www.youtube.com/channel/UCvrDO-ousUrb7q_19-dJ8nQ",
  },
];
---

<footer>
  {
    platform.map((platform) => (
      <p>
        <a href={platform.link}>{platform.name}</a>
      </p>
    ))
  }
</footer>

<style is:global>
  footer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: rgb(75, 75, 75);
    padding: 2rem;
  }
</style>
